* {
    box-sizing: border-box;
}

body {
    background: rgb(37, 34, 56);
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
}

.logo {
    text-transform: uppercase;
    margin-bottom: 2em;
}

span {
    font-weight: bolder;
}

.nav-item {
    text-decoration: none;
    display: inline-block;
    margin-right: 2em;
}

.sidebar {
    background-color: rgb(68, 68, 68);
    padding: 3em;
    min-width: 300px;
    flex: 1 1 20%;
}



.main-content {
    padding: 10%;
    flex: 1 1 80%;
    min-height: 100vh;
}

.portfolio {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.portfolio-item {
    font-weight: bold;
    background: rgb(156, 156, 163);  
    display: flex;
    align-items: center;
    justify-content: center; 
}

.portfolio-item-large{
     grid-row: span 2;
     grid-column: span 3 / span 2;
    }

