img{
    width: 21.5%;
    height: auto;   
}

body{
    background: grey;
}



.container {
    display: grid;
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
    grid-auto-flow: dense;
}

.container > div {
    background: #eee;
    padding: 1em;
}

.container > div:nth-child(odd) {
    background: #ddd;
}